3to2==1.1.1
ansi==0.1.3
ansible==2.0.1.0
apipkg==1.4
argh==0.26.1
backports.functools-lru-cache==1.0.3
beautifulsoup4==4.4.1
boto==2.38.0
bottle==0.12.9
cffi==1.2.1
click==5.1
colorama==0.3.3
colorlog==2.6.0
config==0.3.9
crypto==1.4.1
cryptography==1.0.2
decorator==4.0.4
dnspython==1.12.0
docutils==0.12
ecdsa==0.13
elasticsearch==1.9.0
enum34==1.0.4
errbot==3.2.1
execnet==1.4.1
funcsigs==0.4
hypchat==0.20
idna==2.0
ipaddress==1.0.14
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.8
jupyter-client==4.0.0
jupyter-core==4.0.6
Markdown==2.6.5
MarkupSafe==0.23
mock==1.3.0
Naked==0.1.31
nose==1.3.7
numpy==1.9.3
pandas==0.17.1
paramiko==1.16.0
passlib==1.6.5
path.py==8.1.1
pathtools==0.1.2
pbr==1.8.1
pep8==1.6.2
pickleshare==0.5
pika==0.10.0
py==1.4.30
py2exe==0.6.9
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
Pygments==2.0.2
pygments-markdown-lexer==0.1.0.dev39
pygobject==3.14.0
pymssql==2.1.1
pyOpenSSL==0.15.1
pyparsing==2.0.3
PySide==1.2.2
pytest==2.8.3
pytest-xdist==1.13.1
python-dateutil==2.4.2
pytz==2013b0
pyvmomi==6.0.0
pywin32==219
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.0.1
requests==2.7.0
shellescape==3.4.1
simplegeneric==0.8.1
six==1.9.0
sleekxmpp==1.3.1
timestring==1.6.2
tqdm==3.4.0
traitlets==4.0.0
typing==3.5.0.1
urllib3==1.12
vboxapi==1.0
waitress==0.8.10
watchdog==0.8.3
WebOb==1.5.1
WebTest==2.0.20
wheel==0.24.0
xlrd==0.9.4
Yapsy==1.11.223
